<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContestResultMapper">
	
	<resultMap type="ContestResult" id="contestResultMap">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="GroupID" property="GroupID"/>
		<result column="RJ_SafetyScore" property="RJ_SafetyScore"/>
		<result column="RJ_PowerScore" property="RJ_PowerScore"/>
		<result column="RJ_HeatScore" property="RJ_HeatScore"/>
		<result column="RJ_EconomyScore" property="RJ_EconomyScore"/>
		<result column="RJ_BugScore" property="RJ_BugScore"/>
		<result column="RJ_PotralScore" property="RJ_PotralScore"/>
		<result column="RJ_TrainScore" property="RJ_TrainScore"/>
		<result column="RJ_SpiritScore" property="RJ_SpiritScore"/>
		<result column="RJ_TotalScore" property="RJ_TotalScore"/>
	</resultMap>
	
	<resultMap type="ContestResultForGrid" id="contestResultMapForGrid">
		<result column="ID" property="ID"/>
		<result column="ID1" property="ID1"/>
		<result column="Item" property="Item"/>
		<result column="G1" property="G1"/>
		<result column="G2" property="G2"/>
		<result column="G3" property="G3"/>
		<result column="G4" property="G4"/>
		<result column="G5" property="G5"/>
		<result column="G6" property="G6"/>
	</resultMap>
	
	<!-- 列出所有的竞赛结果 -->
	<select id="listAllContestResult" resultMap="contestResultMap" parameterType="pd">
		select 
		 CONVERT(varchar(100), StatDate, 23) as StatDate,
		  GroupName,
		  GroupID,
		  RJ_SafetyScore,
		  RJ_PowerScore,
		  RJ_HeatScore,
		  RJ_EconomyScore,
		  RJ_BugScore,
		  RJ_PotralScore,
		  RJ_TrainScore,
		  RJ_SpiritScore,
		  RJ_TotalScore
		 from vw_ContestResult
		 where year(StatDate)= #{year} and month(StatDate) = #{month}
		 order by GroupID
	</select>
	

		<!-- 调用竞赛结果存储过程 -->
	<select id="listAllContestResultByProcedure" resultMap="contestResultMapForGrid" statementType="CALLABLE" parameterType="pd">
	
	     { call dbo.query_ContestResult_ReportPivot_RJ(#{year,jdbcType=INTEGER},#{month,jdbcType=INTEGER}) }

	</select>
	
	<!-- 安全指标 -->
	<resultMap type="SecurityIndexForChart" id="securityIndexMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SafetyScore" property="RJ_SafetyScore"/>
	</resultMap>
	
	<resultMap type="SecurityIndexForGrid" id="securityIndexMapForGrid">
		<result column="ID" property="ID"/>
		<result column="CheckDate" property="CheckDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="ItemName" property="ItemName"/>
		<result column="Score" property="Score"/>
		<result column="Money" property="Money"/>
		<result column="Memo" property="Memo"/>
		<result column="ContestItem" property="ContestItem"/>
		
	</resultMap>
	
	<!-- 列出所有的安全指标(图) -->
	<select id="listAllSecurityIndexForChart" resultMap="securityIndexMapForChart"   parameterType="pd">
			select 
 			GroupName,
 			RJ_SafetyScore
 			from vw_ContestResult
 			where year(StatDate)= #{year} and month(StatDate) = #{month}
	</select>
	<!-- 列出所有的安全指标(表) -->
	<select id="listAllSecurityIndexForGrid" resultMap="securityIndexMapForGrid"  parameterType="pd">
			SELECT 	
			ID,
		    CheckDate, 
		    GroupName, 
		 	ItemName, 
		    Score, 
		    Money, 
		    Memo,
		    ContestItem
			FROM Vw_RewardPunishLog
			WHERE ContestItemid=1 AND YEAR(CheckDate)= #{year} AND MONTH(CheckDate) = #{month}
			ORDER BY CheckDate desc
	</select>
	
	<!-- 电量指标 -->
	<resultMap type="PowerIndexForChart" id="powerIndexMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_GeneratePowerAvg" property="RJ_GeneratePowerAvg"/>
	</resultMap>
	
	<resultMap type="PowerIndexForGrid" id="powerIndexMapForGrid">
		<result column="DutyID" property="DutyID"/>
		<result column="StatDate" property="StatDate"/>
		<result column="DutyName" property="DutyName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_GeneratePower" property="RJ_GeneratePower"/>
		<result column="BreakPower" property="BreakPower"/>
	</resultMap>
	<resultMap type="BreakPowerForGrid" id="BreakpowerMapForGrid">
		<result column="ID" property="id"/>
		<result column="BreakDate" property="breakDate"/>
		<result column="DutyName" property="dutyName"/>
		<result column="DutyClass" property="dutyClass"/>
		<result column="groupName" property="groupName"/>
		<result column="BreakPower" property="breakPower"/>
		<result column="CreateDate" property="createDate"/>
	</resultMap>
	<resultMap type="GroupInfo" id="GroupInfoMap">
		<result column="groupName" property="groupName"/>
	</resultMap>
	<select id="queryGroupInfo" resultMap="GroupInfoMap"  parameterType="pd">
		select 
			d.groupName 
		from VwShiftRule r 
		left join GroupDic d on r.GroupId=d.id
		where Work_Dt=#{statDate} and DutyId=#{dutyId}
	</select>
	<!-- 列出所有的违规电量（表） -->
	<select id="listAllBreakPowerForGrid" resultMap="BreakpowerMapForGrid"  parameterType="pd">
		SELECT b.ID
	      ,CONVERT(varchar(100), BreakDate, 23) as BreakDate
	      ,b.DutyClass
	      ,d.DutyName
	      ,b.BreakPower
	      ,b.CreateDate
		  ,gd.groupName
	  	FROM BreakPowerLog b
	  	left join DutyDic d on b.DutyClass=d.dutyId
		left join VwShiftRule vr on b.BreakDate=vr.Work_Dt and b.DutyClass=vr.DutyId
	  	left join GroupDic gd on vr.GroupId=gd.id
	  	where year(BreakDate)= #{year} and month(BreakDate) = #{month} and day(BreakDate)=#{day} and DutyClass=#{dutyId}
	  	order by CreateDate desc
	</select>
	<resultMap type="BreakPowerForSum" id="breakpowerSumInfoMap">
		<result column="sumDuty" property="sumDuty"/>
		<result column="sumDay" property="sumDay"/>
		<result column="sumMonth" property="sumMonth"/>
	</resultMap>
	<select id="breakpowerSumInfo" resultMap="breakpowerSumInfoMap"  parameterType="pd">
		select 
			ISNULL((select sum(BreakPower) from BreakPowerLog where BreakDate=#{breakDate} and DutyClass=#{dutyId}),0) as sumDuty,
			ISNULL((select sum(BreakPower) from BreakPowerLog where BreakDate=#{breakDate}),0) as sumDay,
			ISNULL((select sum(BreakPower) from BreakPowerLog where year(BreakDate)=year(CONVERT(date, #{breakDate})) and month(BreakDate)=month(CONVERT(date, #{breakDate}))),0)  as sumMonth
	</select>
	<!-- 删除违规电量deleteBreakpower -->
	<select id="deleteBreakpower" parameterType="pd" resultType="pd" useCache="false"> 
		  delete from BreakPowerLog where id = #{id}
	</select>
	<!-- 保存违规电量 -->
	<select id="saveBreakPowerLog" parameterType="pd" resultType="pd" useCache="false"> 
		  insert into BreakPowerLog 
		 	(	
	  	  		BreakDate
		      ,DutyClass
		      ,BreakPower
		      ,CreateDate
      		) values 
      		(
      			#{breakDate},
      			#{dutyId},
      			#{breakpower},
      			GETDATE()
      		)
	</select>
	<!-- 列出所有的电量指标(图) -->
	<select id="listAllPowerIndexForChart" resultMap="powerIndexMapForChart"  parameterType="pd">
			select 
			groupName,
			RJ_GeneratePowerAvg  
			from vw_ContestResult
			where year(StatDate)= #{year} and month(StatDate) = #{month}
	</select>
	<!-- 列出所有的电量指标(表) -->
	<select id="listAllPowerIndexForGrid" resultMap="powerIndexMapForGrid"  parameterType="pd">
			SELECT 
				cc.DutyID, 
				CONVERT(varchar(100), cc.StatDate, 23) as StatDate,
				cc.DutyName, 
				cc.GroupName, 
				cc.RJ_GeneratePower,
				ISNULL(sum(bpl.BreakPower), 0) BreakPower
			FROM vw_CoalCost cc
			left join BreakPowerLog bpl on cc.statDate=bpl.BreakDate and cc.DutyID=bpl.DutyClass
			WHERE (YEAR(cc.statDate) = #{year}) AND (MONTH(cc.statDate) = #{month}) 
			group by cc.statDate,cc.DutyID,cc.DutyName,cc.GroupName,cc.RJ_GeneratePower
			Order by cc.Statdate desc,cc.Dutyid desc
	</select>
	
		<!-- 供热指标 -->
	<resultMap type="HeatIndexForChart" id="heatIndexMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_HeatAvg" property="RJ_HeatAvg"/>
	</resultMap>
	
	<resultMap type="HeatIndexForGrid" id="heatIndexMapForGrid">
		<result column="DutyID" property="DutyID"/>
		<result column="StatDate" property="StatDate"/>
		<result column="DutyName" property="DutyName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SuplyHeat" property="RJ_SuplyHeat"/>
	</resultMap>
	
	<!-- 列出所有的供热指标(图) -->
	<select id="listAllHeatIndexForChart" resultMap="heatIndexMapForChart"  parameterType="pd">
			select 	 statDate,
					 groupName,
					 RJ_HeatAvg
					 from vw_ContestResult
					 where year(StatDate)= #{year} and month(StatDate) = #{month}
	</select>
	<!-- 列出所有的供热指标(表) -->
	<select id="listAllHeatIndexForGrid" resultMap="heatIndexMapForGrid"  parameterType="pd">
			SELECT 
			 DutyID, 
			 CONVERT(varchar(100), StatDate, 23) as StatDate,
			 DutyName, 
			 GroupName, 
			 RJ_SuplyHeat  
			FROM vw_CoalCost
			WHERE (YEAR(statDate) = #{year}) AND (MONTH(statDate) = #{month}) Order by Statdate desc,Dutyid desc
	</select>
	
	<!-- 燃机总指标 -->
	<resultMap type="EconomyIndexForChart" id="economyIndexMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SuplyPowerGasCostScore" property="RJ_SuplyPowerGasCostScore"/>
		<result column="RJ_PlantUsePowerScore" property="RJ_PlantUsePowerScore"/>
		<result column="RJ_WaterAdditionScore" property="RJ_WaterAdditionScore"/>
		<result column="RJ_OperationScore" property="RJ_OperationScore"/>
		<result column="RJ_GasTempScore" property="RJ_GasTempScore"/>
		<result column="RJ_VacmScore" property="RJ_VacmScore"/>
		<result column="RJ_NoxScore" property="RJ_NoxScore"/>
		<result column="RJ_TotalScore" property="RJ_TotalScore"/>
		<result column="RJ_BreakPunishScore" property="RJ_BreakPunishScore"/>
	</resultMap>
	
	<resultMap type="EconomyIndexForGrid" id="economyIndexMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupId" property="GroupId"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SuplyPowerGasCost" property="RJ_SuplyPowerGasCost"/>
		<result column="RJ_SuplyPowerGasCostScore" property="RJ_SuplyPowerGasCostScore"/>
		<result column="RJ_PlantUsePowerRatio" property="RJ_PlantUsePowerRatio"/>
		<result column="RJ_PlantUsePowerScore" property="RJ_PlantUsePowerScore"/>
		<result column="RJ_DesaltWaterRatio" property="RJ_DesaltWaterRatio"/>
		<result column="RJ_DirtyWaterRatio     " property="RJ_DirtyWaterRatio     "/>
		<result column="RJ_WaterAdditionScore" property="RJ_WaterAdditionScore"/>
		<result column="RJ_OperationScore" property="RJ_OperationScore"/>
		<result column="RJ_GasTempDiff" property="RJ_GasTempDiff"/>
		<result column="RJ_GasTempScore" property="RJ_GasTempScore"/>
		<result column="RJ_VacmDiff" property="RJ_VacmDiff"/>
		<result column="RJ_VacmScore" property="RJ_VacmScore"/>
		<result column="RJ_Nox" property="RJ_Nox"/>
		<result column="RJ_NoxScore" property="RJ_NoxScore"/>
		<result column="RJ_BreakPunishScore" property="RJ_BreakPunishScore"/>
		<result column="RJ_TotalScore" property="RJ_TotalScore"/>
	</resultMap>
	
	<!-- 列出所有的燃机总指标(图) -->
	<select id="listAllEconomyIndexForChart" resultMap="economyIndexMapForChart"  parameterType="pd">
			select
			 GroupName,
			 RJ_SuplyPowerGasCostScore,
			 RJ_PlantUsePowerScore,
			 RJ_WaterAdditionScore,
			 RJ_OperationScore,
			 RJ_GasTempScore,
			 RJ_VacmScore,
			 RJ_NoxScore,
			 RJ_TotalScore,
			 RJ_BreakPunishScore
			from vw_Economy_Month
					 where year(StatDate)= #{year} and month(StatDate) = #{month}
			 order by GroupId asc
	</select>
	<!-- 列出所有的燃机总指标(表) -->
	<select id="listAllEconomyIndexForGrid" resultMap="economyIndexMapForGrid"  parameterType="pd">
			 SELECT r.StatDate
			      ,r.GroupId
			      ,groupName
			      ,RJ_SuplyPowerGasCost
			      ,RJ_SuplyPowerGasCostScore
			      ,RJ_PlantUsePowerRatio
			      ,RJ_PlantUsePowerScore
			      ,ROUND(RJ_DesaltWaterRatio,4) AS RJ_DesaltWaterRatio
			      ,ROUND(RJ_DirtyWaterRatio,4) AS RJ_DirtyWaterRatio     
			      ,RJ_WaterAdditionScore
			      ,RJ_OperationScore
			      ,RJ_GasTempDiff
			      ,RJ_GasTempScore
			      ,RJ_VacmDiff
			      ,RJ_VacmScore
			      ,RJ_Nox
			      ,RJ_NoxScore
			      ,RJ_BreakPunishScore
			      ,r.RJ_TotalScore
			      FROM  vw_Economy_Month r    
			 WHERE (YEAR(R.StatDate) = #{year}) AND (MONTH(R.StatDate) = #{month})
			 order by r.GroupId asc
	</select>
	
	<!-- 供电气耗 -->
	<resultMap type="SuplyPowerGasCostForChart" id="suplyPowerGasCostMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SuplyPowerCoalCost" property="RJ_SuplyPowerCoalCost"/>
		<result column="RJ_SuplyPowerGasCostScore" property="RJ_SuplyPowerGasCostScore"/>
		<result column="RJ_SuplyPowerGasCost" property="RJ_SuplyPowerGasCost"/>
	</resultMap>
	
	<resultMap type="SuplyPowerGasCostForGrid" id="suplyPowerGasCostMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="Dutyname" property="Dutyname"/>
		<result column="Dutyid" property="Dutyid"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_generatepower" property="RJ_generatepower"/>
		<result column="RJ_suplypower" property="RJ_suplypower"/>
		<result column="RJ_gas1flow" property="RJ_gas1flow"/>
		<result column="RJ_gas2flow" property="RJ_gas2flow"/>
		<result column="RJ_gas3flow" property="RJ_gas3flow"/>
		<result column="RJ_gastotal" property="RJ_gastotal"/>
		<result column="RJ_gasquantity" property="RJ_gasquantity"/>
		<result column="RJ_gascost" property="RJ_gascost"/>
		<result column="RJ_suplypowercoalcost" property="RJ_suplypowercoalcost"/>
		<result column="RJ_totalplantusepowerflow" property="RJ_totalplantusepowerflow"/>
		<result column="RJ_produceusepowerflow" property="RJ_produceusepowerflow"/>
		<result column="RJ_heatpureusepowerflow" property="RJ_heatpureusepowerflow"/>
	</resultMap>
	
	<!-- 列出所有的供电气耗 指标(图) -->
	<select id="listAllSuplyPowerGasCostForChart" resultMap="suplyPowerGasCostMapForChart"  parameterType="pd">
			select
			 GroupName,
			 RJ_SuplyPowerCoalCost,
			 RJ_SuplyPowerGasCostScore,
			 RJ_SuplyPowerGasCost
			from vw_Economy_Month
					 where year(StatDate)= #{year} and month(StatDate) = #{month}
			order by groupId asc
	</select>
	<!-- 列出所有的供电气耗指标(表) -->
	<select id="listAllSuplyPowerGasCostForGrid" resultMap="suplyPowerGasCostMapForGrid"  parameterType="pd">
	
			 select c.Dutyid,
			        CONVERT(varchar(100), c.Statdate, 23) AS Statdate,
			        d.Dutyname                  ,
			        g.Groupname                 ,
			        c.RJ_generatepower          ,
			        c.RJ_suplypower             ,
			        t.RJ_gas1flow               ,
			        t.RJ_gas2flow               ,
			        t.RJ_gas3flow               ,
			        c.RJ_gastotal               ,
			        c.RJ_gasquantity            ,
			        RJ_gascost                  ,
			        RJ_suplypowercoalcost       ,
			        t.RJ_totalplantusepowerflow ,
			        t.RJ_produceusepowerflow    ,
			        t.RJ_heatpureusepowerflow   
			   from coalcost as c
			  inner join dutydic as d
			     on c.dutyid = d.dutyid
			  inner join groupdic as g
			     on c.groupid = g.id
			  inner join tablefloor as t
			     on c.statdate = t.statdate
			    and c.dutyid = t.dutyid
			  where (year(c.statdate) = #{year})
			    and (month(c.statdate) = #{month})
			  order by c.statdate desc, c.dutyid asc
	</select>
	
	<!-- 排烟温度 -->
	<resultMap type="GasTempForChart" id="gasTempMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_GasTempDiff" property="RJ_GasTempDiff"/>
		<result column="RJ_GasTempRank" property="RJ_GasTempRank"/>
		<result column="RJ_GasTempScore" property="RJ_GasTempScore"/>
	</resultMap>
	
	<resultMap type="GasTempForGrid" id="gasTempMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_GasTempDiff" property="RJ_GasTempDiff"/>
		<result column="RJ_GasTempRank" property="RJ_GasTempRank"/>
		<result column="RJ_GasTempScore" property="RJ_GasTempScore"/>
	</resultMap>
	
	<!-- 列出所有的排烟温度(图) -->
	<select id="listAllGasTempForChart" resultMap="gasTempMapForChart"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_GasTempDiff,
				 RJ_GasTempRank,
				 RJ_GasTempScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	<!-- 列出所有的排烟温度 (表) -->
	<select id="listAllGasTempForGrid" resultMap="gasTempMapForGrid"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_GasTempDiff,
				 RJ_GasTempRank,
				 RJ_GasTempScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	
	<!-- 真空 -->
	<resultMap type="VacmIndexForChart" id="vacmIndexMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_VacmDiff" property="RJ_VacmDiff"/>
		<result column="RJ_VacmRank" property="RJ_VacmRank"/>
		<result column="RJ_VacmScore" property="RJ_VacmScore"/>
	</resultMap>
	
	<resultMap type="VacmIndexForGrid" id="vacmIndexMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_VacmDiff" property="RJ_VacmDiff"/>
		<result column="RJ_VacmRank" property="RJ_VacmRank"/>
		<result column="RJ_VacmScore" property="RJ_VacmScore"/>
	</resultMap>
	
	<!-- 列出所有的真空指标(图) -->
	<select id="listAllVacmIndexForChart" resultMap="vacmIndexMapForChart"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_VacmDiff,
				 RJ_VacmRank,
				 RJ_VacmScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	<!-- 列出所有的真空指标(表) -->
	<select id="listAllVacmIndexForGrid" resultMap="vacmIndexMapForGrid"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_VacmDiff,
				 RJ_VacmRank,
				 RJ_VacmScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	
	<!-- 脱硝 -->
	<resultMap type="NoxIndexForChart" id="noxIndexMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_NoxDiff" property="RJ_NoxDiff"/>
		<result column="RJ_NoxRank" property="RJ_NoxRank"/>
		<result column="RJ_NoxScore" property="RJ_NoxScore"/>
	</resultMap>
	
	<resultMap type="NoxIndexForGrid" id="noxIndexMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_NoxDiff" property="RJ_NoxDiff"/>
		<result column="RJ_NoxRank" property="RJ_NoxRank"/>
		<result column="RJ_NoxScore" property="RJ_NoxScore"/>
	</resultMap>
	
	<!-- 列出所有的脱硝指标(图) -->
	<select id="listAllNoxIndexForChart" resultMap="noxIndexMapForChart"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_Nox,
				 RJ_NoxRank,
				 RJ_NoxScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	<!-- 列出所有的脱硝指标(表) -->
	<select id="listAllNoxIndexForGrid" resultMap="noxIndexMapForGrid"  parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_Nox,
				 RJ_NoxRank,
				 RJ_NoxScore
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	
	<!-- 综合厂用电率 -->
	<resultMap type="AuxPowerRatioForChart" id="auxPowerRatioMapForChart">
		<result column="ID" property="ID"/>
		<result column="StatDate" property="StatDate"/>
		<result column="DutyName" property="DutyName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_AuxPowerRatio" property="RJ_AuxPowerRatio"/>
		<result column="RJ_GeneratePower" property="RJ_GeneratePower"/>
		<result column="RJ_SuplyPower" property="RJ_SuplyPower"/>
		<result column="XL2213PowerFLow" property="XL2213PowerFLow"/>
	</resultMap>
	
	<resultMap type="AuxPowerRatioForGrid" id="auxPowerRatioMapForGrid">
		<result column="ID" property="ID"/>
		<result column="StatDate" property="StatDate"/>
		<result column="DutyName" property="DutyName"/>
		<result column="DutyID" property="DutyID"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_AuxPowerRatio" property="RJ_AuxPowerRatio"/>
		<result column="RJ_GeneratePower" property="RJ_GeneratePower"/>
		<result column="RJ_SuplyPower" property="RJ_SuplyPower"/>
		<result column="XL2213PowerFLow" property="XL2213PowerFLow"/>
		<result column="BreakPower" property="BreakPower"/>
	</resultMap>
	<resultMap type="TableFloorForGrid" id="tableFloorMapForGrid">
		<result column="ID" property="ID"/>
		<result column="StatDate" property="StatDate"/>
		<result column="DutyName" property="DutyName"/>
		<result column="DutyID" property="DutyID"/>
		<result column="GroupName" property="GroupName"/>
		<result column="GroupId" property="GroupId"/>
		<result column="Unit6PowerFlow" property="Unit6PowerFlow"/>
		<result column="Unit7PowerFlow" property="Unit7PowerFlow"/>
		<result column="Unit8PowerFlow" property="Unit8PowerFlow"/>
		<result column="XLHuaTai1PowerFlow" property="XLHuaTai1PowerFlow"/>
		<result column="XLHuaTai1PowerFlowOpp" property="XLHuaTai1PowerFlowOpp"/>
		<result column="XLHuaTai2PowerFlow" property="XLHuaTai2PowerFlow"/>
		<result column="XLHuaTai2PowerFlowOpp" property="XLHuaTai2PowerFlowOpp"/>
		<result column="XL2213PowerFLow" property="XL2213PowerFLow"/>
		<result column="Unit8SuplyPowerFlow" property="Unit8SuplyPowerFlow"/>
		<result column="Unit6PlantUsePowerFlow" property="Unit6PlantUsePowerFlow"/>
		<result column="Unit7PlantUsePowerFlow" property="Unit7PlantUsePowerFlow"/>
		<result column="StartBack3UsePowerFlow" property="StartBack3UsePowerFlow"/>
		<result column="RJ_Rewangbeng1PowerFlow1" property="RJ_Rewangbeng1PowerFlow1"/>
		<result column="RJ_Rewangbeng1PowerFlow2" property="RJ_Rewangbeng1PowerFlow2"/>
		<result column="RJ_Rewangbeng1PowerFlow3" property="RJ_Rewangbeng1PowerFlow3"/>
		<result column="RJ_Rewangbeng1PowerFlow4" property="RJ_Rewangbeng1PowerFlow4"/>
		<result column="RJ_Rewangbeng2PowerFlow1" property="RJ_Rewangbeng2PowerFlow1"/>
		<result column="RJ_Rewangbeng2PowerFlow2" property="RJ_Rewangbeng2PowerFlow2"/>
		<result column="RJ_Rewangbeng2PowerFlow3" property="RJ_Rewangbeng2PowerFlow3"/>
		<result column="RJ_Rewangbeng2PowerFlow4" property="RJ_Rewangbeng2PowerFlow4"/>
		<result column="RJ_TotalPlantUsePowerFlow" property="RJ_TotalPlantUsePowerFlow"/>
		<result column="RJ_ProduceUsePowerFlow" property="RJ_ProduceUsePowerFlow"/>
		<result column="RJ_HeatPureUsePowerFlow" property="RJ_HeatPureUsePowerFlow"/>
		<result column="RJ_Addwater" property="RJ_Addwater"/>
		<result column="RJ_DeSaltWater" property="RJ_DeSaltWater"/>
		<result column="RJ_RawWater" property="RJ_RawWater"/>
		<result column="RJ_DirtyWater" property="RJ_DirtyWater"/>
		<result column="RJ_AuxSteam" property="RJ_AuxSteam"/>
		<result column="RJ_Gas1Flow" property="RJ_Gas1Flow"/>
		<result column="RJ_Gas2Flow" property="RJ_Gas2Flow"/>
		<result column="RJ_Gas3Flow" property="RJ_Gas3Flow"/>
		<result column="RJ_Carb1Flow" property="RJ_Carb1Flow"/>
		<result column="RJ_Carb2FLow" property="RJ_Carb2FLow"/>
		<result column="RJ_SuplyHeat" property="RJ_SuplyHeat"/>
	</resultMap>
	
	<!-- 列出所有表底数据 -->
	<select id="listAllTableFloorForGrid" resultMap="tableFloorMapForGrid"  parameterType="pd">
			SELECT
			 	tf.ID
		      ,CONVERT(varchar(100), StatDate, 23) as StatDate
			  ,tf.DutyID
			  ,dd.DutyName
			  ,tf.GroupId
			  ,gd.GroupName
		      ,Unit6PowerFlow
		      ,Unit7PowerFlow
		      ,Unit8PowerFlow
		      ,XLHuaTai1PowerFlow
		      ,XLHuaTai1PowerFlowOpp
		      ,XLHuaTai2PowerFlow
		      ,XLHuaTai2PowerFlowOpp
		      ,XL2213PowerFLow
		      ,Unit8SuplyPowerFlow
		      ,Unit6PlantUsePowerFlow
		      ,Unit7PlantUsePowerFlow
		      ,StartBack3UsePowerFlow
		      ,RJ_Rewangbeng1PowerFlow1
		      ,RJ_Rewangbeng1PowerFlow2
		      ,RJ_Rewangbeng1PowerFlow3
		      ,RJ_Rewangbeng1PowerFlow4
		      ,RJ_Rewangbeng2PowerFlow1
		      ,RJ_Rewangbeng2PowerFlow2
		      ,RJ_Rewangbeng2PowerFlow3
		      ,RJ_Rewangbeng2PowerFlow4
		      ,RJ_TotalPlantUsePowerFlow
		      ,RJ_ProduceUsePowerFlow
		      ,RJ_HeatPureUsePowerFlow
		      ,RJ_Addwater
		      ,RJ_DeSaltWater
		      ,RJ_RawWater
		      ,RJ_DirtyWater
		      ,RJ_AuxSteam
		      ,RJ_Gas1Flow
		      ,RJ_Gas2Flow
		      ,RJ_Gas3Flow
		      ,RJ_Carb1Flow
		      ,RJ_Carb2FLow
		      ,RJ_SuplyHeat
		  FROM TableFloor tf
		  left join DutyDic dd on tf.DutyID=dd.DutyId
		  left join GroupDic gd on gd.id=tf.groupid
			where StatDate between #{statDateStart} and #{statDateEnd}
			order by StatDate desc,tf.DutyID asc
	</select>
	<select id="updateTableFloor" parameterType="pd" resultType="pd" useCache="false"> 
		 update TableFloor set ${celname}=#{value} where id=#{sid}
	</select>
	<!-- 列出所有的综合厂用电率指标(图) -->
	<select id="listAllAuxPowerRatioForChart" resultMap="auxPowerRatioMapForChart"  parameterType="pd">
			 SELECT 
				StatDate,
				GroupId,
				GroupName,
				RJ_PlantUsePowerRatio,
				RJ_PlantUsePowerScore
			FROM vw_Economy_Month
			where year(StatDate)= #{year} and month(StatDate) = #{month}
			order by GroupId asc
	</select>
	<!-- 列出所有的综合厂用电率指标(表) -->
	<select id="listAllAuxPowerRatioForGrid" resultMap="auxPowerRatioMapForGrid"  parameterType="pd">
			SELECT 
				cc.id,
				cc.DutyID, 
				CONVERT(varchar(100), cc.StatDate, 23) as StatDate,
				cc.DutyName, 
				cc.GroupName, 
				cc.RJ_GeneratePower,
				cc.RJ_TotalPlantUsePowerRatio*100 AS RJ_TotalPlantUsePowerRatio,  
				cc.RJ_SuplyPower,
				cc.XL2213PowerFLow,
				ISNULL(lg.BreakPower, 0) BreakPower
			FROM vw_CoalCost cc
			left join 
			(
				select 
					BreakDate,
					DutyClass,
					sum(BreakPower) BreakPower
				from BreakPowerLog 
				group by BreakDate,DutyClass
			) lg on lg.BreakDate=cc.statDate and lg.DutyClass=cc.DutyID
			where year(StatDate)= #{year} and month(StatDate) = #{month}
			ORDER BY statDate DESC, DutyID asc
	</select>
	
	<!-- 操作加分 -->
	<resultMap type="OperationScoreForChart" id="operationScoreMapForChart">
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_OperationScore" property="RJ_OperationScore"/>
	</resultMap>
	
	<resultMap type="OperationScoreForGrid" id="operationScoreMapForGrid">
		<result column="ID" property="ID"/>
		<result column="CheckDate" property="CheckDate"/>
		<result column="ItemName" property="ItemName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="OperateAddScore" property="OperateAddScore"/>
		<result column="Memo" property="Memo"/>
	</resultMap>
	
	<!-- 列出所有的操作加分指标(图) -->
	<select id="listAllOperationScoreForChart" resultMap="operationScoreMapForChart"  parameterType="pd">
			  SELECT
				    GroupName,
				    RJ_OperationScore 
				FROM vw_Economy_Month
				where year(StatDate)= #{year} and month(StatDate) = #{month}
				order by GroupId asc
	</select>
	<!-- 列出所有的操作加分指标(表) -->
	<select id="listAllOperationScoreForGrid" resultMap="operationScoreMapForGrid"  parameterType="pd">
			SELECT 
				    ID, 
				    CheckDate,
				    GroupName,
				    ItemName,
				    abs(Score) * ratio as OperateAddScore,  
					Memo
				FROM Vw_RewardPunishLog
				where year(CheckDate)= #{year} and month(CheckDate) = #{month}
	</select>
	
	<!-- 燃机综合水耗 -->
	<resultMap type="WaterCostForChart" id="waterCostMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupID" property="GroupID"/>
		<result column="DutyName" property="DutyName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_DirtyWater" property="RJ_DirtyWater"/>
		<result column="RJ_RawWater" property="RJ_RawWater"/>
		<result column="RJ_DeSaltWater" property="RJ_DeSaltWater"/>
		<result column="RJ_BoilerSteam" property="RJ_BoilerSteam"/>
		<result column="RJ_GeneratePower" property="RJ_GeneratePower"/>
	</resultMap>
	
	<resultMap type="WaterCostForGrid" id="waterCostMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupID" property="GroupID"/>
		<result column="DutyName" property="DutyName"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_DirtyWater" property="RJ_DirtyWater"/>
		<result column="RJ_RawWater" property="RJ_RawWater"/>
		<result column="RJ_DeSaltWater" property="RJ_DeSaltWater"/>
		<result column="RJ_BoilerSteam" property="RJ_BoilerSteam"/>
		<result column="RJ_GeneratePower" property="RJ_GeneratePower"/>
	</resultMap>
	
	<!-- 列出所有的燃机综合水耗(图) -->
	<select id="listAllWaterCostForChart" resultMap="waterCostMapForChart"  parameterType="pd">
			SELECT
			    GroupName,
			    RJ_DesaltWaterRatio,
				RJ_DesaltWaterScore,
				RJ_DirtyWaterRatio, 
				RJ_DirtyWaterScore
			FROM vw_Economy_Month
			where year(StatDate)= #{year} and month(StatDate) = #{month}
			order by GroupId asc
	</select>
	<!-- 列出所有的燃机综合水耗(表) -->
	<select id="listAllWaterCostForGrid" resultMap="waterCostMapForGrid"  parameterType="pd">
			SELECT 
				 StatDate
				 ,GroupName
				 ,DutyName
				 ,GroupID
				 ,RJ_DirtyWater
				 ,RJ_RawWater
				 ,RJ_DeSaltWater
				 ,RJ_BoilerSteam
				 ,RJ_GeneratePower
				FROM vw_CoalCost
				  where year(StatDate)= #{year} and month(StatDate) = #{month} 
				  ORDER BY StatDate,DutyId
	</select>
	
	<!-- 违规扣分 -->
	<resultMap type="BreakPointForChart" id="breakPointMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupID" property="GroupID"/>
		<result column="Unit" property="Unit"/>
		<result column="KKS" property="KKS"/>
		<result column="Description" property="Description"/>
		<result column="Lower" property="Lower"/>
		<result column="Upper" property="Upper"/>
		<result column="BreakCount" property="BreakCount"/>
		<result column="DutyHours" property="DutyHours"/>
		<result column="BreakCountPerHour" property="BreakCountPerHour"/>
		<result column="PunishWay" property="PunishWay"/>
		<result column="PunishStandard" property="PunishStandard"/>
		<result column="PunishPoint" property="PunishPoint"/>
	</resultMap>
	
	<resultMap type="BreakPointForGrid" id="breakPointMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupID" property="GroupID"/>
		<result column="Unit" property="Unit"/>
		<result column="KKS" property="KKS"/>
		<result column="Description" property="Description"/>
		<result column="Lower" property="Lower"/>
		<result column="Upper" property="Upper"/>
		<result column="BreakCount" property="BreakCount"/>
		<result column="DutyHours" property="DutyHours"/>
		<result column="BreakCountPerHour" property="BreakCountPerHour"/>
		<result column="PunishWay" property="PunishWay"/>
		<result column="PunishStandard" property="PunishStandard"/>
		<result column="PunishPoint" property="PunishPoint"/>
	</resultMap>
	<resultMap type="breakPointDetailForGrid" id="breakPointDetailMapForGrid">
		<result column="Id" property="id"/>
		<result column="statDate" property="statDate"/>
		<result column="dutyName" property="dutyName"/>
		<result column="groupId" property="groupId"/>
		<result column="groupName" property="groupName"/>
		<result column="Unit" property="unit"/>
		<result column="KKS" property="kks"/>
		<result column="Description" property="description"/>
		<result column="Upper" property="upper"/>
		<result column="Lower" property="lower"/>
		<result column="RealValue" property="realValue"/>
		<result column="IsDelete" property="isDelete"/>
		<result column="DeleteReason" property="deleteReason"/>
	</resultMap>
	<resultMap type="BreakPointDicForGrid" id="breakPointDicMapForGrid">
		<result column="id" property="id"/>
		<result column="unit" property="unit"/>
		<result column="kks" property="kks"/>
		<result column="description" property="description"/>
		<result column="eniEngineering" property="eniEngineering"/>
		<result column="lower" property="lower"/>
		<result column="upper" property="upper"/>
		<result column="condition" property="condition"/>
		<result column="punishPoint" property="punishPoint"/>
		<result column="contestType" property="contestType"/>
		<result column="punisthType" property="punisthType"/>
		<result column="isActive" property="isActive"/>
		<result column="cancelReason" property="cancelReason"/>
		<result column="beginDate" property="beginDate"/>
		<result column="createDate" property="createDate"/>
	</resultMap>
	<select id="listAllBreakPointDicForGrid" resultMap="breakPointDicMapForGrid"  statementType="CALLABLE" parameterType="pd">
			SELECT 
				id,
				unit,
				kks,
				description,
				eniEngineering,
				lower,
				upper,
				condition,
				punishPoint,
				contestType,
				punisthType,
				isActive,
				cancelReason,
				CONVERT(varchar(100), beginDate, 23) as beginDate,
				CONVERT(varchar(100), createDate, 23) as createDate,
				createDate orderDate
			from BreakPointDic
			<if test="sid!=0 and sid!=null">
				where id = #{sid}
			</if>
			order by orderDate desc
	</select>
	<!-- 创建一条违规字典的数据 -->
	<select id="createBreakDicItem" parameterType="pd" resultType="pd" useCache="false"> 
		insert into BreakPointDic (IsActive) values(0);
	</select>
	
	<select id="updateBreakDic" parameterType="pd" resultType="pd" useCache="false"> 
		 update BreakPointDic set ${celname}=#{value} where id=#{sid}
	</select>
	<!-- 删除一条数据 -->
	<select id="deleteBreakDic" parameterType="pd" resultType="pd" useCache="false"> 
		  delete from BreakPointDic where id = #{id}
	</select>
	<!-- 违规点详情列表查询(表) -->
	<select id="listAllBreakPointDetailForGrid" resultMap="breakPointDetailMapForGrid"  statementType="CALLABLE" parameterType="pd">
			{ call query_breakPointDetail_RJ(#{year},#{month},#{grouId},#{unit},#{kks},#{isShowDelete}) }
	</select>
	<!-- 批量提交违规原因 -->
	<select id="submitIsDeleteBatch" parameterType="pd" resultType="pd" useCache="false"> 
		 update BreakPointDetails set IsDelete=#{isDelete},DeleteReason=#{deleteReason} where TimeStamp between #{startTime} and #{endTime} and kks=#{kks}
	</select>
	<!-- 提交违规原因 -->
	<select id="updateDeleteReason" parameterType="pd" resultType="pd" useCache="false"> 
		 update BreakPointDetails set DeleteReason=#{reason} where id=#{id}
	</select>
	<!-- 提交违规详情是否delete标识 -->
	<select id="updateIsDeleteStatus" parameterType="pd" resultType="pd" useCache="false"> 
		 update BreakPointDetails set IsDelete=#{status} where id=#{id}
	</select>
	<!-- 列出所有的违规扣分(图) -->
	<select id="listAllBreakPointForChart" resultMap="breakPointMapForChart"  statementType="CALLABLE" parameterType="pd">
			select 
				StatDate,
				GroupName, 
				RJ_BreakPunishScore 
			from vw_Economy_Month
			where year(StatDate)= #{year} and month(StatDate) = #{month} 
			order by GroupId asc
	</select>

	<!-- 列出所有的违规扣分(表) -->
	<select id="listAllBreakPointForGrid" resultMap="breakPointMapForGrid"  statementType="CALLABLE" parameterType="pd">
			{ call query_breakPoint_RJ(#{year,jdbcType=INTEGER},#{month,jdbcType=INTEGER}) }
	</select>
	
	<!-- 设备消缺 -->
	<resultMap type="BugStatForChart" id="bugStatMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_BugSum" property="RJ_BugSum"/>
	</resultMap>
	
	<resultMap type="BugStatForGrid" id="bugStatMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="YxbUser" property="YxbUser"/>
		<result column="LogAmount" property="LogAmount"/>
		<result column="RemoveAmount" property="RemoveAmount"/>
		<result column="RepeatBug" property="RepeatBug"/>
		<result column="Total" property="Total"/>
	</resultMap>
	
	<select id="saveBug" parameterType="pd" resultType="pd" useCache="false"> 
		  insert into BugStatByPerson 
		 	(	
	  	  		statdate
		      ,YxbUser
		      ,GroupID
		      ,LogAmount
		      ,RemoveAmount
		      ,repeatBug
      		) values 
      		(
      			#{StatDate},
      			#{yxbUser},
      			#{groupId},
      			#{logAmount},
      			#{removeAmount},
      			#{repeatBug}
      		)
	</select>
	<select id="deleteBug" parameterType="pd" resultType="pd" useCache="false"> 
		  delete from BugStatByPerson where id = #{id}
	</select>
	
	<!-- 列出所有的设备消缺(图) -->
	<select id="listAllBugStatForChart" resultMap="bugStatMapForChart"  statementType="CALLABLE" parameterType="pd">
			select 
				 StatDate,
				 GroupName,
				 RJ_BugSum 
				from vw_ContestResult
				where year(StatDate)= #{year} and month(StatDate) = #{month} 
	</select>
	<!-- 列出所有的设备消缺(表) -->
	<select id="listAllBugStatForGrid" resultMap="bugStatMapForGrid"  statementType="CALLABLE" parameterType="pd">
			SELECT 
				id,
				 StatDate, 
				 YxbUser, 
				 GroupName, 
				 LogAmount, 
				 RemoveAmount,
				 RepeatBug,
				 isnull(logamount,0)+isnull(removeamount,0)-5*isnull(repeatBug,0) AS Total
				FROM Vw_BugStatByPerson 
				WHERE year(StatDate)= #{year} and month(StatDate) = #{month}
	</select>


	<!-- 精神文明 -->
	<resultMap type="SpiritScoreForChart" id="spiritScoreMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_SpiritScore" property="RJ_SpiritScore"/>
	</resultMap>
	
	<resultMap type="SpiritScoreForGrid" id="spiritScoreMapForGrid">
		<result column="ID" property="ID"/>
		<result column="CheckDate" property="CheckDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="Score" property="Score"/>
		<result column="Money" property="Money"/>
		<result column="Memo" property="Memo"/>
	</resultMap>
	
	<!-- 列出所有的精神文明(图) -->
	<select id="listAllSpiritScoreForChart" resultMap="spiritScoreMapForChart"  statementType="CALLABLE" parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_SpiritScore
				FROM vw_ContestResult
				where year(StatDate)= #{year} and month(StatDate) = #{month} 
	</select>
	<!-- 列出所有的精神文明(表) -->
	<select id="listAllSpiritScoreForGrid" resultMap="spiritScoreMapForGrid"  statementType="CALLABLE" parameterType="pd">
		SELECT 
			 ID,
			 CheckDate, 
			 GroupName, 
			 ItemName, 
			 abs(Score) * ratio as Score, 
			 abs(Money) * ratio as Money, 
			 Memo
			FROM vw_RewardPunishLog
			WHERE ContestItemID = 10 AND YEAR(CheckDate) = #{year} AND MONTH(CheckDate) = #{month}

	</select>
	
	<!-- 培训得分 -->
	<resultMap type="TrainScoreForChart" id="trainScoreMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_TrainScore" property="RJ_TrainScore"/>
	</resultMap>
	
	<resultMap type="TrainScoreForGrid" id="trainScoreMapForGrid">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupName" property="GroupName"/>
		<result column="Score" property="Score"/>
	</resultMap>
	
	<select id="saveTrainScore" parameterType="pd" resultType="pd" useCache="false"> 
		  insert into Train 
		 	(	
	  	  		Area
     			,StatDate
     			,GroupId
     			,Score
      		) values 
      		(
      			'燃机',
      			#{StatDate},
      			#{groupId},
      			#{score}
      		)
	</select>
	<select id="deleteTrainScore" parameterType="pd" resultType="pd" useCache="false"> 
		  delete from Train where id=#{id}
	</select>
	
	<!-- 列出所有的培训得分(图) -->
	<select id="listAllTrainScoreForChart" resultMap="trainScoreMapForChart"  statementType="CALLABLE" parameterType="pd">
			SELECT 
				 StatDate,
				 GroupName,
				 RJ_TrainScore
			FROM vw_ContestResult
			where year(StatDate)= #{year} and month(StatDate) = #{month} 
	</select>
	<!-- 列出所有的培训得分(表) -->
	<select id="listAllTrainScoreForGrid" resultMap="trainScoreMapForGrid"  statementType="CALLABLE" parameterType="pd">
		SELECT 
			id,
			 StatDate,
			 GroupName,
			 Score
			FROM vw_train
			WHERE year(StatDate)= #{year} and month(StatDate) = #{month} 

	</select>
	
	<!-- 重大操作 -->
	<resultMap type="ImportOperationForChart" id="importOperationMapForChart">
		<result column="StatDate" property="StatDate"/>
		<result column="GroupID" property="GroupID"/>
		<result column="GroupName" property="GroupName"/>
		<result column="RJ_OperationMoney" property="RJ_OperationMoney"/>
	</resultMap>
	
	<resultMap type="ImportOperationForGrid" id="importOperationMapForGrid">
		<result column="ID" property="ID"/>
		<result column="GroupName" property="GroupName"/>
		<result column="OperateDate" property="OperateDate"/>
		<result column="Unit" property="Unit"/>
		<result column="ItemName" property="ItemName"/>
		<result column="StartStopType" property="StartStopType"/>
		<result column="Money" property="Money"/>
		<result column="Memo" property="Memo"/>
	</resultMap>
	
	<!-- 列出所有的重大操作(图) -->
	<select id="listAllImportOperationForChart" resultMap="importOperationMapForChart"  statementType="CALLABLE" parameterType="pd">
			SELECT 
				 StatDate,
				 GroupID,
				 GroupName,
				 RJ_OperationMoney
				FROM vw_ContestResult
				where year(StatDate)= #{year} and month(StatDate) = #{month} 
	</select>
	<!-- 列出所有的重大操作(表) -->
	<select id="listAllImportOperationForGrid" resultMap="importOperationMapForGrid"  statementType="CALLABLE" parameterType="pd">
		SELECT
			 id,
			 CheckDate AS OperateDate,
			 groupName,
			 Unit,
			 itemName,
			 StartStopType,
			 Money,
			 Memo
			FROM
			 vw_RewardPunishLog
			WHERE
			 ContestItemID = 15
			and year(CheckDate)= #{year} and month(CheckDate) = #{month} 

	</select>
	
	<!-- 考核管理指标列表(全部) -->
	<select id="listAllContestItemForGrid" parameterType="pd" resultType="pd" useCache="false">
		select ID,ContestItemID,IsTag,IsDelete,ItemName,StartStopType,Cent,money,ratio,memo,StartStop,listorder 
		from RewardPunishDic 
		<if test="contestType!=0">
			where ContestItemID = #{contestType}
		</if>
	</select>
	
	<!-- 考核录入指标列表(全部) -->
	<select id="listAllItemInputForGrid" parameterType="pd" resultType="pd" useCache="false">
		  select r.ID,CONVERT(varchar(100), r.CheckDate, 23) as CheckDate,
		  r.CreateUser,r.GroupID,r.ItemID,r.Money,r.Score,r.Unit,r.memo as reason ,d.memo
		  from RewardPunishlog r left join RewardPunishDic d on r.ItemID = d.id 
		  where year(r.CheckDate) = #{year} and month(r.CheckDate) = #{month}
		  order by r.CheckDate desc
	</select>
	
	<!-- 查询所有的KKS -->
	<select id="listAllKKS" parameterType="pd" resultType="pd" useCache="false">
		SELECT distinct '【'+KKS+'】 '+ Description as value, KKS as kks FROM BreakPointDic	
	</select>
	
	<!-- 新增一条考核管理项 -->
	<select id="saveOneContestItem" parameterType="pd" resultType="pd" useCache="false"> 
		  insert into RewardPunishDic 
		  	  (ContestItemID
			  ,IsTag
			  ,IsDelete
			  ,itemName
			  ,StartStopType
			  ,cent
			  ,money
			  ,ratio
			  ,memo
			  ,StartStop
			  ,listorder) values (#{ContestItemID},#{IsTag},#{IsDelete},#{itemName},#{StartStopType},#{cent},#{money},#{ratio},#{memo},#{StartStop},#{listorder})
	</select>
	
	<!-- 新增一条考核管理记录 -->
	<select id="saveItemInput" parameterType="pd" resultType="pd" useCache="false"> 
		  insert into RewardPunishLog 
		  	  (GroupID
		      ,Unit
		      ,CheckDate
		      ,ItemID
		      ,Score
		      ,Money
		      ,Memo
		      ,LogDate
		      ,CreateUser) values (#{GroupID},#{Unit},#{CheckDate},#{ItemID},#{Score},#{money},#{memo},CURRENT_TIMESTAMP,#{CreateUser})
	</select>
	
	<!-- 取最新的考核管理记录 -->
	<select id="listThisItemInput" parameterType="pd" resultType="pd" useCache="false"> 
		  SELECT TOP 1 id
		      ,GroupID
		      ,Unit
		      ,CONVERT(VARCHAR(20),CheckDate,20) as CheckDate
		      ,ItemID
		      ,Score
		      ,Money
		      ,Memo
		      ,CONVERT(VARCHAR(20),LogDate,20) as LogDate
		      ,CreateUser
		  FROM RewardPunishLog order by id desc
	</select>
	
	<!-- 根据ID查询一条考核管理记录 -->
	<select id="listThisItemInputByID" parameterType="pd" resultType="pd" useCache="false"> 
		  SELECT id
		      ,GroupID
		      ,Unit
		      ,CONVERT(VARCHAR(20),CheckDate,20) as CheckDate
		      ,ItemID
		      ,Score
		      ,Money
		      ,Memo
		      ,CONVERT(VARCHAR(20),LogDate,20) as LogDate
		      ,CreateUser
		  FROM RewardPunishLog where ID=#{ID}
	</select>
	
	<!-- 根据ID更新一条考核管理记录 -->
	<select id="updateItemInput" parameterType="pd" resultType="pd" useCache="false"> 
		  UPDATE RewardPunishLog SET GroupID=#{GroupID},Unit=#{Unit},CheckDate=#{CheckDate},ItemID=#{ItemID},Score=#{Score},Money=#{money},Memo=#{memo},LogDate=CURRENT_TIMESTAMP where ID=#{ID}
	</select>
	
	<!-- 根据ID删除一条考核管理记录 -->
	<select id="deleteItemInput" parameterType="pd" resultType="pd" useCache="false"> 
		  DELETE
		  FROM RewardPunishLog where ID=#{ID}
	</select>
	
	<select id="runPr" parameterType="pd" resultType="pd" statementType="CALLABLE" useCache="false">
		{ call sp_DutyTask(#{statDate}) }
	</select>
</mapper>